/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage
/vendor
.env
.env.*
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.log
.DS_Store
.composer
composer.phar
package-lock.json
/bootstrap/cache
/public/css
/public/js
/public/images
/public/media
/public/vendor
/public/fonts
/resources/js/libs
*.zip
*.gz
*.rar
*.7z
*.tar
*.mp3
*.mp4
*.jpg
*.jpeg
*.png
*.gif
*.pdf
*.ai
*.psd
